In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [2]:
df = pd.read_csv('50_Startups.csv')
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [3]:
mr = linear_model.LinearRegression()
mr.fit(df[['R&D Spend','Administration','Marketing Spend']],df.Profit)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [4]:
mr.coef_

array([ 0.80571505, -0.02681597,  0.02722806])

In [5]:
cf = pd.DataFrame(mr.coef_,df[['R&D Spend','Administration','Marketing Spend']].columns,columns=['Coeff'])
cf

                    Coeff
R&D Spend        0.805715
Administration  -0.026816
Marketing Spend  0.027228

In [6]:
mr.intercept_

50122.19298986524

In [7]:
mr.predict([[15000,10000,35000]])

array([62892.74132268])

y=m1*x1 + m2*x2 + m3*x3 + b
y = Predicted Profit
m = coefficient
b = intercept

In [9]:
0.805715*15000 -0.026816*10000 + 0.027228*35000 + 50122.19298986524

62892.737989865236