In [37]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [38]:
df= pd.read_csv("USA_Housing.csv")
df.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386

In [40]:
lr= linear_model.LinearRegression()
lr.fit(df[['Avg. Area Income','Avg. Area House Age','Avg. Area Number of Rooms','Avg. Area Number of Bedrooms',
           'Area Population']],df.Price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [41]:
lr.coef_

array([2.15780494e+01, 1.65637027e+05, 1.20659949e+05, 1.65113905e+03,
       1.52007439e+01])

In [47]:
cf=pd.DataFrame(lr.coef_,df[['Avg. Area Income','Avg. Area House Age','Avg. Area Number of Rooms',
                             'Avg. Area Number of Bedrooms','Area Population']].columns,columns=['coeff'])
cf

                                      coeff
Avg. Area Income                  21.578049
Avg. Area House Age           165637.026941
Avg. Area Number of Rooms     120659.948816
Avg. Area Number of Bedrooms    1651.139054
Area Population                   15.200744

In [48]:
lr.intercept_

-2637299.0333281276

In [49]:
lr.predict([[60000,7,8,5,20000]])

array([1094393.28643417])

y=m1*x1 + m2*x2 + m3*x3 + m4*x4 + m5*x5 + b
y = Predicted Price
m = coefficient
b = intercept

In [51]:
21.578049*60000+165637.026941*7+120659.948816*8+1651.139054*5+15.200744*20000-2637299.0333281276

1094393.2610568726